.nav-bar {
  width: 100%;
  /* background-color:white; */
  background: rgb(86, 86, 86);
  font-family: Arial;
}

.img{
  width: 26%;
  height: 87%;
}

.nav-cont {
  display: flex;
  justify-content: space-around;
  color: white;
  height: 126px;
}

.nav-it {
  display: flex;
  list-style: none;
}

.nav-items {
  padding: 16px 10px; 
}

.dropdown {
  float: left;
  /* overflow: hidden; */
  padding: 3px 0;
}

.dropdown .dropbtn {
  font-size: 16px;
border: none;
outline: none;
color: white;
padding: 29px 16px;
background-color: inherit;
font-family: inherit;
margin: -10px;
width: 138px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-item {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item:hover {
  background-color: #ddd;
}

.mobile-menu-icon{
  display: none;
}

/* MEDIA QUERY */
@media (max-width:500px){
  .nav-it{
    display: none;
  }
  .mobile-menu-icon{
    display: block;
    position:absolute;
    font-size: 30px;
    color: white;
    border: none;
    top: 5%;
    right: 10%;
  }
  img{
    left: 15%;
    width: 30%;
    height: 60%;
  }

  .nav-link-mobile{
    position: absolute;
    display: block;
    list-style: none;
    background-color: #ddd;
    left: 22%;
    top: 0%;
    width: 41%;
    transition: all 0.4s ease-in-out;
  }
}
@media (max-width:700px){
  .nav-it{
    display: none;
  }
  .mobile-menu-icon{
    display: block;
    position:absolute;
    font-size: 30px;
    color: white;
    border: none;
    top: 5%;
    right: 10%;
  }
  img{
    left: 15%;
    width: 30%;
    height: 60%;
  }

  .nav-link-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #ddd;
    left: 27%;
    top: 5%;
    width: 30%;
    transition: all 0.4s ease-in-out;
}
}
