.data{
    display: flex;
    justify-content: center;
}
.carimg{
    width: 111%;
    height: 88%;
    margin-top: 10%;
  }
.carpic{
    width: 10%;
    
}
.carinfo{
    width: 35%;
    text-align: start;
    padding-left: 38px;
}
.carprice{
    border-left: solid gray;
}
h1{
    background-color: lightblue;
    width: 100%;
    height: 57px;
    margin-top: 0%; 
    padding-top: 2%;
}
h2{
    margin: 20px 0;
}